node_modules/
package-lock.json
pnpm-lock.yaml
*.html
*.tgz
.gitignore
.gitattributes
src/
dev/
.prettierrc
.prettierignore
.vscode/
.idea/
settings.json
.DS_Store
.github/
scripts/
docs/
.sassrc
TODO.md
.parcel-cache/
vite.config.js