# NPM/Yarn
node_modules/
package-lock.json
yarn.lock
yarn-error.log

# Testing
*.html

# Build Config
.gitignore

# Raw source
src/

# Linting
.prettierrc
.prettierignore

# Editor Config
.vscode/
.idea/
settings.json
.DS_Store

# Misc
.github/
scripts/
docs/
.sassrc
scratch.md
.*/