// button,
// input,
// textarea {
//   transition: background-color var(--animation-duration) linear,
//     border-color var(--animation-duration) linear, color var(--animation-duration) linear,
//     box-shadow var(--animation-duration) linear, transform var(--animation-duration) ease;
// }


* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
}

::-webkit-scrollbar-track {
  background: var(--background-body);
}

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  word-wrap: break-word;
  color: var(--text-main);
  background: var(--background-body);
  text-rendering: optimizeLegibility;
}

button {
  border-radius: 999px;
  font-family: var(--font-family);
  border: none;
  padding: 1.5rem 2rem;
  background: var(--color-accent);
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
  display: inline-flex;
  align-items: center;
  align-self: flex-start;

  svg {
    margin-left: 0.5rem;
    height: 2rem;
  }
}

section {
  width: 100%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1.8rem 2rem 0 2rem;

  div {
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--text-bright);
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      &:not(:last-child) {
        margin-right: 2.4rem;
      }
      display: inline-block;
      a {
        color: var(--links-nav);
        letter-spacing: -0.01em;
        font-size: 1.4rem;
        font-weight: 600;

        button {
          border-radius: 0.8rem;
          font-size: inherit;
          padding: 0.75rem 1.2rem 0.85rem;
        }
      }
    }
  }
}
