@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--text-color);
}
