code,
samp,
time,
kbd {
  font-family: var(--font-family-mono);
  color: var(--code);
  background: var(--background);
  padding: 0.3rem 0.6rem;
  border: 1px solid var(--border);
  border-radius: 6px;
  font-size: 0.9em;
}

pre > code {
  padding: 15px;
  display: block;
  overflow-x: auto;
  border-radius: 10px;
}

var {
  color: var(--variable);
  font-style: normal;
  font-family: monospace;
}

kbd {
  border-bottom: .3rem solid var(--border);
}
