form {
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    flex: 1 1 0;
    fieldset {
      border: none;
      padding: 0;
      flex: 1 1 0;

      input,
      select,
      textarea {
        border-radius: 6px;
        width: 100%;
        margin: 0.5rem 0;
        border: 1px solid var(--border);
        background: rgba(255, 255, 255, 0.2);
        color: #333;
        padding: 1.6rem;
        font-family: var(--font-family);
        font-weight: 500;
        letter-spacing: -0.02em;
        font-size: 1.6rem;
        transition: all 0.3s ease;

        &::placeholder {
          color: var(--form-placeholder);
        }

        &:focus {
          outline: none;
          border: 1px solid var(--color-accent);
        }
      }

      textarea {
        min-width: 100%;
        min-height: 8em;
      }

      div {
        position: relative;

        select {
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          position: relative;

          &:required:invalid {
            color: var(--form-placeholder);
          }

          option {
            color: black;
          }
        }

        &::after {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 5px 0 5px;
          border-color: var(--form-placeholder) transparent transparent transparent;
          position: absolute;
          right: 1.6rem;
          content: '';
          transform: translateY(-50%);
          top: 50%;
          pointer-events: none;
        }
      }

      label {
        // color: #333;
        display: block;
        // text-transform: uppercase;
        font-size: 1.4rem;
        // font-weight: 600;
      }
    }
  }
}
