:root {
  --background-body: #fff;
  --background: #f9fafb;
  --background-alt: #f3f4f6;
  --selection: #ee3f86;
  --text-main: #5b708b;
  --text-heading: #03060b;
  --text-bright: #000;
  --text-muted: #d2d6db;
  --links: #ee3f86;
  --focus: #ee3f86;
  --border: #ced6e3;
  --code: #03060b;
  --animation-duration: 0.1s;
  --button-hover: #ddd;
  --scrollbar-thumb: color-mod(var(--button-hover) lightness(-3%));
  --scrollbar-thumb-hover: color-mod(var(--button-hover) lightness(-10%));
  --form-placeholder: #949494;
  --form-text: #000;
  --variable: #39a33c;
  --highlight: #ff0;
  --font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

  --color-accent: #3880ff;
  --link-color: #0284c7;
  --tint-background: #efefef;
  --primary-background: black;
  --primary-background-alt: rgba(0, 0, 0, 0.8);
  --header-color: #111827;
}

$breakpoint-xxl: 1400px;
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
