:root {
  --font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --link-color: #0284c7;
  --text-color: #6b7280;
  --tint-background: #efefef;
  --primary-color: white;
  --primary-background: black;
  --primary-background-alt: rgba(0, 0, 0, 0.8);
  --header-color: #111827;
}
